<html lang="en">
<head>
    <link rel="icon" href="/static/img/icon.png">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
          integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<body style="background-color: #31708e">
<nav class="navbar navbar-expand navbar-light bg-light" style="height:60px">
    <div class="col">
        <img height="40" class="d-inline-block align-top mr-2" alt="" src="/static/img/bcLogo.png"/>
    </div>
</nav>
<div class="content container-fluid">
    <div class="text-center text-white m-5 " >
        <p><i class="fas fa-exclamation-triangle fa-10x"></i> </p>
        <p id="errorCode" class="text-white" style="font-size:8vh;font-family:'Times New Roman', Times, serif;">
            Oops!
        </p>
        <p class=" text-white" style="font-size:6vh;font-family:'Times New Roman', Times, serif;">
            Something went wrong.
        <p>Please check the <a href="https://cyverse.org/maintenance" class="text-warning">Cyverse maintenance schedule</a> for downtime</p>
        </p>
         <p>Error Code: {{errorcode}}</p>

    </div>

    <div class="text-center text-uppercase text-white m-5">
        <button class="btn btn-lg btn-outline-warning " onclick="location.href='https://www.bioviz.org'">
            GO TO BIOVIZ.ORG</button>
    </div>
</div>

</body>

</html>