
{% load rightpanel %}
<div id="analysis">
    <button type="button" class="close" aria-label="Close" onclick="closerp()">
        <span aria-hidden="true">&times;</span>
    </button>
    <div class=" container">
        <h5 class="navbar-brand">Analysis</h5>
    </div>
    <div id="dynamicAnalyse">
        <div class="list-group-item"><p class="w-100 pathLink"></p></div>
        <div class="list-group-item alert alert-warning" role="alert" id="noAppMessage">
            <p class="w-100 text-center font-weight-bold">No Apps are available for analyzing this filetype.</p>
            <p class="w-100 m-0 text-center">Filetypes that can be analyzed: </p>
            <p class="w-100 m-0 text-center"></p>
        </div>
    </div>
</div>
<div id="appForm">
    <button class="btn btn-light float-right" onclick="backtoMenu()"><i class="fas fa-arrow-left mr-1"></i>Back</button>
    <div class="bg-light container">
        <h5 class="navbar-brand"></h5>
    </div>
    <form id="theForm">

        {% app_analysis_render %}
    </form>
     <div class="toast analyseToast hide" role="alert" data-autohide="true" data-delay="1000">
            <div class="toast-header">
                <i class="fa fa-paper-plane"></i>
                <strong class="mr-auto text-success">Submitted!</strong>
            </div>
     </div>

</div>
