<!-- Metadata -->
<div id="metadata">
    <button type="button" class="close" aria-label="Close" onclick="closerp()">
        <span aria-hidden="true">&times;</span>
    </button>
    <div class=" container">
        <h5 class="navbar-brand">MetaData</h5>
    </div>
    <div>
        <div class="list-group-item "  id="Filepath_metadata"><p class="w-100 pathLink"></p></div>
        <div class="list-group-item " id="genomeversion">
            <p class="mb-2">Choose species, then genome version</p>
            <div class="dropdown species mb-2 ">
                <button class="btn dropdown-toggle" type="button" id="dropdownMenuButtonSp" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Species</button>
                <div class="dropdown-menu overflow-auto"  aria-labelledby="dropdownMenuButtonSp"></div>
            </div>
            <div class="dropdown version mb-2">
                <button class="btn dropdown-toggle " type="button" id="dropdownMenuButtonVn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Genome Version</button>
                <div class="dropdown-menu overflow-auto" aria-labelledby="dropdownMenuButtonVn"></div>
            </div>
        </div>
        <div class="list-group-item " id="trackcolor">
            <p class="mb-2">IGB Track Color</p>
            <p>Foreground: <input type="color" id="foregroundcp" class="btn colorpicker fgcp" value="#aaaaaa"/></p>
            <p>Background: <input type="color" id="backgroundcp" class="btn colorpicker bgcp" value="#0000ff"/></p>
        </div>
        <div class="list-group-item ">
            <p class="mb-2">IGB Track Name (Optional)</p>
            <input type="text" class="form-control w-100" id="metaTrackName"/>
        </div>
        <div class="list-group-item ">
            <p class="mb-2">Comments</p>
            <textarea id="comments" class="form-control" rows="3"></textarea>
        </div>
        <div class="list-group-item">
            <button class="btn btn-danger mr-2 w-25" id="closemetadata_rp" onclick="closerp()">Cancel</button>
            <button class="btn btn-primary w-25" id="savemetadata_rp" onclick="saveMetaData()" >Save</button>
            <!--Toast for Save Button action -->
            <div class="toast metaSave hide" role="alert" data-autohide="true" data-delay="2000" style="position:absolute;right:40px;bottom:15px;">
                <div class="toast-header">
                    <i class="fas fa-save fa-bounce fa-lg  mr-2"></i>
                    <strong class="mr-auto text-success ">Saved!</strong>
                </div>
            </div>
	    </div>
    </div>
</div>
