{% load static %}
body{
    position:relative;
    font-size: 13px;
    min-width: 600px;
}
#plink{
    word-break: break-word;
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: none;
}
.breadcrumb-item{
	overflow:none;
	text-overflow:ellipsis !important;

}
.breadcrumb{
	flex-wrap: none !important;
	margin-bottom: 0 !important;
	border-radius: 0 !important;
	flex-wrap: nowrap !important;
	min-width:600px;

}
.fa-level-up-alt:hover{
   color: black !important;
    text-shadow: 0 0 1px #aaaaaa, 0 0 2px #aaaaaa !important;
}
.btn{
   font-size:13px;
}
.content {
    overflow: hidden;
}
.left,.right,.middle {
    float: left;
}
.left{
	min-width:250px;
    max-width:250px;
 }
.rightLoad{
    min-width:400px;
    max-width:400px;
}
.right {
    display:none;
    min-width:400px;
    max-width:400px;
    overflow: auto;
}


.middle {
    border: solid #eee;
    height: 92vh;
}
.opentab {
    display: block;
}
.closetab {
    display: none;
}
table{
	overflow:auto;
	table-layout: fixed;
    font-size: 13px;
    overflow-x: hidden;
    min-width: 600px;
}
#filefolder tr {
    cursor: pointer;
	height: 59px;
}
#analysesHist tr td:nth-child(1) {
     cursor: pointer;
}
td  {
  width: 50px;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.cut_row{
	color: #aaa;
}
/* changes background color on click of a row*/
#analysesHist tr:active{
    background-color: #eef;
}
#analysesHist tr td{
    overflow:hidden;
    text-overflow: ellipsis;
    white-space: initial;
}
.searchpath{
    font-size: 12px;
    color: #bbb;
}
.searchpath:hover{
    color: blue !important;
    text-decoration: underline;

}
footer {
    height: 100px;
    background-color: #aaa;
}
.cbtn {
    height: 13px;
}
.show{
	visibility: visible;
}
.hide{
	visibility: hidden;
}
.active {
    background: #eef;
}
#context-menu {
    position: absolute;
    font-size: 13px;
}
#popup-bc-paste {
    position: absolute;
    font-size: 13px;
}
.popMenu{
    margin-right:5px;
}
#popup-menu {
    position: absolute;
    font-size: 13px;
}
.middleLoad{
    position:fixed;
    padding:15%;
    display:block;
    height:100%;
    z-index:10;
    background-color:#fff;
    opacity:0.9;
}
footer{
    height:50px;
}
.rightLoad{
    position:fixed;
    padding-top:15%;
    display:block;
    height:90%;
    z-index:10;
    background-color:#fff;
    opacity:0.9;
}
.spinner-border{
    width: 5rem;
    height: 5rem;
}
.colorpicker{
    margin:0;
    padding:0;
    cursor:pointer;
    width:25px;
    height:25px;
}
.colorContainer{
    position:relative;
}
#searchRender{
    padding-top: 5px;
    padding-left: 200px;
    padding-right: 200px;
	transition: ease all 0.5s
}
.priority-1{
	min-width:600px !important;
}
.priority-2{
	width:150px !important;
}
.priority-3{
	width:100px !important;
}
.priority-4{
	width:150px !important;
}
.pathLink{
 word-wrap: break-word;
}
.wrapword{
     word-wrap: break-word;
}
.species .dropdown-menu{
 height:500px;
}
#copy{
 cursor:pointer;
}
.toast{
 position:fixed;
 z-index:10;
}
.fa-bounce {
    display: inline-block;
    position: relative;
    -moz-animation: bounce 1s infinite linear;
    -o-animation: bounce 1s infinite linear;
    -webkit-animation: bounce 1s infinite linear;
    animation: bounce 1s infinite linear;
}

@-webkit-keyframes bounce {
    0% { top: 0; }
    50% { top: -0.2em; }
    70% { top: -0.3em; }
    100% { top: 0; }
}
@-moz-keyframes bounce {
    0% { top: 0; }
    50% { top: -0.2em; }
    70% { top: -0.3em; }
    100% { top: 0; }
}
@-o-keyframes bounce {
    0% { top: 0; }
    50% { top: -0.2em; }
    70% { top: -0.3em; }
    100% { top: 0; }
}
@-ms-keyframes bounce {
    0% { top: 0; }
    50% { top: -0.2em; }
    70% { top: -0.3em; }
    100% { top: 0; }
}
@keyframes bounce {
    0% { top: 0; }
    50% { top: -0.2em; }
    70% { top: -0.3em; }
    100% { top: 0; }
}
/* Icon pulse */
.fa-pulse {
	display: inline-block;
	-moz-animation: pulse 2s infinite linear;
	-o-animation: pulse 2s infinite linear;
	-webkit-animation: pulse 2s infinite linear;
	animation: pulse 2s infinite linear;
}

@-webkit-keyframes pulse {
	0% { opacity: 1; }
	50% { opacity: 0; }
	100% { opacity: 1; }
}
@-moz-keyframes pulse {
	0% { opacity: 1; }
	50% { opacity: 0; }
	100% { opacity: 1; }
}
@-o-keyframes pulse {
	0% { opacity: 1; }
	50% { opacity: 0; }
	100% { opacity: 1; }
}
@-ms-keyframes pulse {
	0% { opacity: 1; }
	50% { opacity: 0; }
	100% { opacity: 1; }
}
@keyframes pulse {
	0% { opacity: 1; }
	50% { opacity: 0; }
	100% { opacity: 1; }
}

.analysesName{
    color: #007bff
}
@media screen and (max-width: 1200px) and (min-width: 1100px) {
	#searchRender{
		padding-left: 150px;
		padding-right: 150px;
	}
	.priority-4{
		display:none;
	}
}
@media screen and (max-width: 1100px) and (min-width: 1000px) {
	#searchRender{
		padding-left: 100px;
		padding-right: 100px;
	}
	.priority-4{
		display:none;
	}
	.priority-3{
		display:none;
	}
}
@media screen and (max-width: 1000px) and (min-width: 900px) {
	#searchRender{
		padding-left: 75px;
		padding-right: 75px;
	}
	.priority-4{
		display:none;
	}
	.priority-3{
		display:none;
	}
}
@media screen and (max-width: 900px) and (min-width: 800px) {
	#searchRender{
		padding-left: 50px;
		padding-right: 50px;
	}
	.priority-4{
		display:none;
	}
	.priority-3{
		display:none;
	}
}
@media screen and (max-width: 800px) {
	#searchRender{
		padding-left: 0px;
		padding-right: 10px;
	}
	.right{
		position:fixed;
		width:100%;
		height:100%;
		z-index:100;
		right:0;
	}
	.priority-4{
		display:none;
	}
	.priority-3{
		display:none;
	}
}
