{% for key,elementList in appList.items %}
    <div id = {{ key }} data-analyse="{{ elementList }}" class="list-group igbAppinCyverse">
        <div class='list-group-item'><label>Analysis Name</label>
            <i class='fa fa-question-circle ml-1' data-toggle='tooltip' data-placement='top' title='Enter a name for the analysis you are running. You can track the status of the analysis in Analysis History'></i>
            <input type='text' id="analyse_name_{{ key }}" class='form-control analysisName' placeholder="Analysis Name" value=''>
       </div>
        {% for ele in elementList %}
            {% if ele.type == "FileInput" or ele.type == "FolderInput" or ele.type == "FileOutput" or ele.type == "FolderOutput" %}
                <div class='list-group-item'>
                    <label>{{ ele.label }}</label>
                    <i class='fas fa-question-circle ml-1' href='#' data-toggle='tooltip' data-placement='top' title="{{ ele.description }}"></i>
                    <input type='text' class='form-control form-input' defvalue='{{ ele.defaultvalue }}' value='' id= "{{ ele.id }}">
                </div>
            {% endif %}

            {% if ele.type == "TextSelection" %}
                <div class='list-group-item' >
                    <i class='fas fa-question-circle mb-2 ml-1' href='#' data-toggle='tooltip' title='Popover Header (Variable)' title="{{ ele.description }}"></i>
                    <div class='dropdown'>
                        <button id="{{ ele.id }}" class='btn btn-secondary dropdown-toggle form-input' type='button' id='dropdownMenu' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false'>{}</button>
                        <div class='dropdown-menu' aria-labelledby='dropdownMenu'>{}</div>
                    </div>
                </div>
            {% endif %}

            {% if ele.type == "DropDown" %}
                <button class='dropdown-item form-input' id = "{{ ele.id }}" type='button'>{{ ele.label }}</button>
            {% endif %}

            {% if ele.type == "Integer" %}
                <div class='list-group-item' >
                    <label>{{ ele.label}} </label>
                    <i class='fas fa-question-circle ml-1' href='#' data-toggle='tooltip' title='Popover Header (Variable)' data-content="{{ ele.description }}"></i>
                    <input type='number' id= "{{ ele.id }}" class='form-control form-input' placeholder='Example input'>
                </div>
            {% endif %}
        {% endfor %}
        <div class='list-group-item'><button type='button' class='btn btn-success w-100' onclick='formRunData("{{ key }}",{{ elementList }})'>Run Analysis</button></div>
    </div>
{% endfor %}


